<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084021759750-ngc7b85h4svm9f7qt6nl8njkvcbhlfti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084021759750-ngc7b85h4svm9f7qt6nl8njkvcbhlfti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1084021759750-0bsvm2nmfedgt92atlofj2ncmkm439ag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYFicPTg96Ay4OqJQJn6Zo4BntdFUKJIc</string>
	<key>GCM_SENDER_ID</key>
	<string>1084021759750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.mx.chmd.Circulares</string>
	<key>PROJECT_ID</key>
	<string>chmd-nueva-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chmd-nueva-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084021759750:ios:abec7adb690164d50b4887</string>
</dict>
</plist>